h1 {
  margin-bottom: 30px;
}
input[type="text"] {
  width: 200px;
  float: left;
}
.narrow-button {
  float: left;
  margin-left: 10px;
}
li {
  width: 300px;
  margin: 10px;
  display: inline-block;
}
.message{
  text-align: left;
}
.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}